.GameController-mainContainer {
  display: grid;
  grid-template-rows: 60px auto 1fr;
  grid-template-columns: 1fr 100px auto 100px 1fr;
}

.GameController-gameWrapper {
  grid-area: 2 / 3;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between; /* This is used for positioning the dialogue box and the player stats/game info at the top */
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #555;
  background-image: url(images/StageBackground.jpg);
  background-size: contain;
  box-shadow: 0px 0px 8px black;
}

.GameController-infoPanel {
  z-index: 10;
  margin-top: 0.5rem;
  padding: 0.2rem;
  border: 1px solid #CCC;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px #CCC;
}

.GameController-infoPanelLabel {
  vertical-align: top;
  display: inline-block;
  margin: 0 0.6rem;
  font-size: 2em;
  font-weight: 900;
  color: white;
  text-shadow: 0px 0px 2px black;
}

.GameController-infoPanelLabel > small {
  font-size: 0.6em;
}

.GameController-extraSmallText {
  margin: 0;
  font-size: 0.4em;
  line-height: 1em;
}

.GameController-infoPanelLabel-HPBar {
  width: 100%;
  height: 0.5rem;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 0px 4px black;
}

.GameController-infoPanelLabel-HPBarFill {
  height: 100%;
  background: linear-gradient(to right, royalBlue, turquoise);
}

.GameController-dialogueBox {
  z-index: 10;
  width: 26rem;
  margin-bottom: 16%;
  padding: 0 1rem;
  box-sizing: border-box;
  border: 1px solid #777;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 4px #555;
}

.GameController-dialogueBoxDark {
  z-index: 10;
  width: 26rem;
  display: inline-block;
  margin: 0 auto 18% auto;
  padding: 0 1rem;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  box-shadow: 0px 0px 5px #333;
}

.GameController-fog {
  position: absolute;
  top: 0;
  left: 0;
  /* background: radial-gradient(rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 60%); */
}
